/* *  border: 1px solid black;
} { */

 *{
    font-family: 'Helvetica', sans-serif;
  } 
  
  body {
    background: white;
  }
  header {
    background:black;
  }
  
  header h1 {
    color: salmon;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 1em;
  }
  
  header nav {
    background: salmon;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    color: black;
    display: inline-block;
    padding: 1em 0;
    text-align: center;
    width: 200px;
  }
  
  .salmonimg{
    text-align: center;
    padding: 2em;
    border-bottom: 2px solid #111;
    width: 100%;
  }
  


  div {
    margin: 2em; 
  }



 div section {
    margin: 1em 2em;
  } 
  
h2 {
    font-size: 2em;
    font-weight: bold;
  }
  
 

ul li {
    font-family: 'Georgia', serif;
    color:rgb(193, 43, 43) ;
    margin: 2em;

  }
 
  
  h1, h2 {
    font-family: 'Righteous', cursive;
  }
  
  footer {
    background: rgb(200, 196, 196);
    padding: 3em;
    text-align: center;
    font-size: 1.5em;
  }

  th {
    background-color: grey;
    padding: 1em;
    border: 1px solid black;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }

  td {
    background-color: salmon;
    padding: 1em;
    border: 1px solid black;
    font-size: 1.2em;
  }
