 /* *  {border: 5px solid yellow !important;
} 
 */

/* For all pages  */
* {
  font-family: "Helvetica", sans-serif;
}
body {
  background: white;
  border: 3px solid red
}

header {
  background: black;
  border: 2px solid yellow
}

header h1 {
  color: salmon;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 1em;
  border: 2px solid blue
}

header nav {
  background: salmon;
  border: 3px solid purple
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid palegreen
}

header nav ul li {
  color: black;
  display: inline-block;
  text-align: center;
  width: 200px;
  border: 2px solid yellow
}

h1,
h2 {
  font-family: "Righteous", cursive;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

footer {
  background: rgb(200, 196, 196);
  padding: 3em;
  text-align: center;
  font-size: 1.5em;
  border: 3px solid green
}

main {
  margin: 10px auto;
padding: 16px;
max-width: fit-content;
border: 3px solid brown
}

/* Home page */

.salmonimg {
  text-align: center;
  padding: 2em;
  border-bottom: 2px solid #111;
  width: 100%;
  border: 2px solid black
}

div {
  margin: 2em;
  border: 2px solid royalblue
}

div section {
  margin: 1em 2em;
  border: 2px solid peru
}

ul li {
  font-family: "Georgia", serif;
  color: rgb(193, 43, 43);
  margin: 2em;
  border: 2px solid blueviolet
}

/* Sales Page */

table {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid rgb(195, 45, 225)
}

thead {
  vertical-align: middle;
  text-align: center;
  text-overflow: hidden;
  border: 4px solid rgb(255, 179, 0)
}

th {
  background-color: grey;
  padding: 1em;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  width: max-content;
  border: 4px solid rgb(255, 179, 0)
}

td {
  background-color: salmon;
  padding: 1em;
  border: 1px solid black;
  border: 4px solid rgb(0, 115, 255)
}
